header {
  font-family: 'Times New Roman', Times, serif;
  font-size: 25px;
}

footer {
  font-family: 'Times New Roman', Times, serif; 
  font-size: 25px;

}

.not-found{
  background-image: url(./assets/notfound.jpeg);
  height: 600px;
  width: auto;
}
